<!-- <h6 class="card-subtitle mb-2 text-muted"> - {{quoty.author}} <span id="when">Posted: {{quoty.datePosted|dateCount}} days ago.</span> </h6> -->
<!-- <div class="container-fluid d-flex" id="buttons">
    <button class="btn btn-sm btn-success ml-2" (click)='upvote()'>{{quoty.likes}} <i class="fa fa-thumbs-up" id="like"></i></button>
    <button class="btn btn-sm hate ml-2" id="hate" (click)='downvote()'>{{quoty.dislikes}} <i class="fa fa-thumbs-down" id="dislike"></i></button>
    <button class="btn btn-sm btn-danger ml-2" id="del" (click)='deleteQuote(true)'><i class="fa fa-trash" id="delete"></i></button>
</div> -->

<div class="submission-details">
    <h6>Posted by: {{quote.submittedBy}}</h6>
    <h6>On: {{quote.submissionDate | date}}</h6>
  </div>
  
  <button class="btn btn-light" (click)='deleteQuote(true)'><i class="fa fa-trash"></i></button>
  
  
  