
  <div class="jumbotron jumbotron-fluid text-center bg-info">
    <h1 class="text-center">Quotes Central</h1>
    <p class="title-tag">Welcome to quotes central <br> explore your favourite quotes and wise sayings <br>and quench your thirst for knowledge</p>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h2>Quotes</h2>
             <!-- <app-quote></app-quote>    -->
          </div>
          <div class="col-md-4">
              <h2>Quotes Form</h2>
          </div>
      </div>
  </div>


