  <div class="jumbotron jumbotron-fluid text-center bg-info">
    <h1 class="text-center">Quotes Central</h1>
    <p class="title-tag">Welcome to quotes central <br> explore your favourite quotes and wise sayings <br>and quench your thirst for knowledge</p>
  </div>
  <div class="container">
         <div class="row">
           
        <div class="col-md-8">
            <div class="listQuotes">
              <h2>List of Quotes</h2>
             <app-quotes> </app-quotes>   
          </div>

        </div>

         <div class="col-md-4">
            <div class="addQuotes">
                <h2>Quotes Form</h2>
                <app-quote-form> </app-quote-form>  
              </div>        
            </div>

         </div>

  <footer class="page-footer">
    <div class="footer-copyright text-center">
      <h6>Copyright © 2022 Edah-hub. All rights reserved</h6>
    </div>
  </footer>

