/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Bangers|Dancing+Script|Lobster+Two|Spicy+Rice|Yeseva+One&display=swap');

body{
  background-image: url(./assets/bc.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


