<div class="container quotes-form">
    <h5 class="text-center quoteHeading">
        What is your favorite quote? <br> Share with us in the section below.
    </h5>
    <div class="card card-body">

            <form #entryForm='ngForm' (ngSubmit)="submitQuote()">            
            <div class="form-group quoteEntryField">
              <input type="text" class="form-control" id="authorName" name="author" #author='ngModel' [(ngModel)]="newQuote.authorName" 
                [ngClass]="{'is-invalid': author.errors && author.touched}" required>
              <i class="fa fa-user" aria-hidden="true"></i>
              <label for="author">Author's Name<span text-color red>*</span></label>
              <div [hidden]="!author.errors?.['required']" class="invalid-feedback">
                <p>Author name required</p>
              </div>
              <div *ngIf="author.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
            </div>

            <div class="form-group quoteEntryField">
                <textarea type="text" class="form-control" id="enterQuote" name="quote" [(ngModel)]="newQuote.quote" #quote='ngModel'
                  [ngClass]="{'is-invalid': quote.errors && quote.touched}" required></textarea>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <label for="quote">Enter Full Quote<span text-color red>*</span> </label>
                <div [hidden]="!quote.errors?.['required']"class="invalid-feedback">
                  <p>Please enter a quote</p>
                </div>
              </div>
              <div class="form-group quoteEntryField">
                <input type="text" class="form-control" id="submittedBy" name="poster" [(ngModel)]="newQuote.submittedBy" #poster='ngModel' [ngClass]="{'is-invalid': poster.touched && poster.errors}" required>
                <i class="fa fa-user" aria-hidden="true"></i>
                <label>Submitted By <span text-color red>*</span> </label>
                <div [hidden]="!poster.errors?.['required']" class="invalid-feedback">
                  <p>Name of submitter is required</p>
                </div>
              </div>
              <button [disabled]="newQuote.authorName == '' || newQuote.quote == '' || newQuote.submittedBy == ''" class="btn btn-primary btn-block mb-3" type="submit">
                Submit Quote
              </button>
          </form>
    </div>
</div>